<h1 align=center>Mis tareas diciocheras</h1>

<% @todos.each_slice(3) do |three_todo|%>
    <div class="card-deck">
        <% three_todo.each do |todo| %>
            <div class="card my-2" style="width: 18rem" >
                <%= image_tag todo.task.picture, class: "card-img-top img-fluid, style:'filter:grayscale(100%)" %>
                <div class="card-body">
                    <small><%= time_ago_in_words(todo.updated_at) %> ago</small>
                    <h5> <%= link_to todo.task.name, todos_path(todo), class:"card-title" %></h5>
                    <%= puts todo.completed %>
                    <% if todo.completed %>
                        <%= link_to 'Completo', todo_update_path(todo), method: :patch, class:"btn btn-success" %>
                    <%else%>
                        <%= link_to 'Completar', todo_update_path(todo), method: :patch, class:"btn btn-danger" %>
                    <% end%>  
                </div>
            </div>
        <% end%>
    </div>
<% end%>


